# Environnement
.env
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/secrets.toml

# Données sensibles
data/raw/*.csv
data/processed/*.csv
*.pkl
*.sqlite

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Cache
.cache/
